*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 15px;
    font-family: "Overpass", sans-serif;
}

main {
    background-color: hsl(216, 12%, 8%);
    width: 400px;
    padding: 30px;
    border-radius: 12px;
}

#img-div {
    background-color: hsl(213, 19%, 18%);
    width: 50px;
    height: 50px;
    padding: 5px;
    border-radius: 50%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-star {
    width: 18px;
}

#step-1 h1 {
    margin-bottom: 10px;
}

#step-1 .para {
    color: hsl(217, 12%, 63%);
    line-height: 25px;
}

.radio-all {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
    align-items: center;
}

.radio {
    display: flex;
    background-color: hsl(213, 19%, 18%);
    padding: 18px;
    border-radius: 50%;
    width: 56px;
    text-align: center;
    position: relative;
}

.num {
    margin-left: 5px;
    color: white;
}

.num.num-1 {
    margin-left: 7px;
}

[type="radio"] {
    appearance: none;
    position: absolute;
    inset: 0;
    cursor: pointer;
    opacity: 0;

}

.radio:has([type="radio"]:checked) {
    background-color: hsl(217, 12%, 63%);
}

.radio:has([type="radio"]:hover) {
    background-color: hsl(25, 97%, 53%);
}

button {
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    background-color: hsl(25, 97%, 53%);
    border: none;
    color: white;
    font-family: "Overpass", sans-serif;
}

button:hover {
    color: hsl(25, 97%, 53%);
    background-color: white;
}



#step-2 {
    display: none;
}

/* --------- step-2 -------------- */
#step-2 {
    text-align: center;
    padding: 30px 0px;
}

.thank-icon {
    width: 120px;
}

#step-2 .span {
    color: hsl(25, 97%, 53%);
    margin: 20px 0;
    background-color: hsl(213, 19%, 18%);
    padding: 5px 15px;
    border-radius: 15px;
}

#step-2 h1 {
    margin-bottom: 10px;
}

#step-2 p {
    color: hsl(217, 12%, 63%);
    line-height: 25px;
}